<%= form_with(model: @tweet, local: true) do |f| %>
    <% if @tweet.errors.any? %>
        <div id = 'error_explanation'>
            <h2>El TWEET no se pudo crear por las siguientes razones:</h2>
            <ul>
                <% @tweet.errors.full_messages.each do |msg|%>
                    <% if msg == "Content can't be blank" %>
                        <li><%= "El contenido no puede estar en blanco." %></li>
                    <% else %>
                        <li><%= msg %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if user_signed_in? %>
        <div class = 'form-group'>
            <%= f.label :content, "Nuevo Tweet" %>
            <%= f.text_area :content, placeholder: "¿Que quieres comentar hoy?", class: "form-control", style: "border-radius: 10px; border-style: 2px solid black;" %>
        </div>

        <div class = 'actions'>
            <%= f.submit "Tweetear", class: "btn btn-success" %>
        </div>
    <% end %>
<% end %>

<div class="row">
    <% @tweets.each do |t| %>
            <div class="card col-12 m-2">
                <div class="container text-center">
                    <!-- Imágen del usuario que hizo el tweet -->
                    <%= image_tag t.user.photo, class: "card-img-top pt-2", style: "width: 100px; border-radius: 150%" %>
                    <!-- Nombre del usuario que hizo el tweet -->
                    <h6><%= t.user.name %></h6>
                </div>
                <div class="card-body" style="width: 100%; border-radius: 10px; border: 2px solid black">
                    <!-- Contenido del tweet -->
                    <p class="card-text"><%= t.content %></p>
                </div>
                <div class="text-center">
                    <span>
                        <!-- Retweet -->
                        <%= link_to retweets_path(t.id), method: :post do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-repeat" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round" >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3" />
                                <path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3" />
                            </svg>
                        <% end %>
                        <span><%= t.retweets.count %></span>
                    </span>
                    <span>
                        <%= link_to like_path(t.id), method: :post do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                            </svg>
                        <% end %>
                        <span><%= t.likes.count %></span>
                    </span>
                </div>
            </div>
    <% end %>
</div>

<div class="container-fluid col-md-8">
    <% @tweets.each do |t| %>
        <h6>Foto del usuario: <%= t.user.name %></h6>
        <h6><%= "#{t.id}: #{t.content}" %></h6>
        <span>
            <%= link_to retweets_path(t.id), method: :post do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-repeat" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round" >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3" />
                    <path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3" />
                </svg>
            <% end %>
            <span><%= t.retweets.count %></span>
        </span>
        <span>
            <%= link_to like_path(t.id), method: :post do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                </svg>
            <% end %>
        </span>
        <span><%= t.likes.count %></span><br>
        <%= image_tag t.user.photo %>
    <% end %>
</div>

